{% extends 'base.html.twig' %}

{% block title %} GarageParrot - Accueil
{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center">
        <h1 class="padTop5">Welcome!</h1>

{% for flashMessage in app.flashes('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}

        <a href = "#">Inscription</a>    
        <p>Tu cherches à acheter une nouvelle voiture <small><a href="{{ path('car') }}" class="text-decoration-none text-success">click ici</a></small><br>
        ou tu cherches à vendre une voiture <small><a href="{{ path('car.new') }}" class="text-decoration-none text-success">click ici</a></small></p>
    </div>
{% endblock %}