<nav class="navbar navSize navbar-expand-lg bg-primary text-light container-fluid d-flex justify-content-around">
        <div >
            <table>
                <tr class="border-start border-end">
                    <td class="px-3">06 18 25 65 14</td>
                    <td class="px-3">garage.parrot@email.fr</td>
                    <td class="px-3">Ouvert du Lundi au Vendredi, de 8h45 à 12h et de 14h00 à 18h00</td>
                </tr>
            </table>
    </div>
    <a href="#" class="text-decoration-none text-reset border-start border-end px-3">
        Connexion
    </a>
</nav>
