{% extends 'base.html.twig' %}

{% block title %} GarageParrot - Accueil
{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center">
        <h1 class="padTop5">Welcome!</h1>
        <a href = "#">Inscription</a>    
    </div>

{% endblock %}